<section id="education" class="education">
    <h2>Education</h2>
    <span class="line"></span>
    
    <div class="item">
        <span class="year">`18</span>
        <article>
            <div class="title">
                <img src="../img/UNB.png" alt="UNB Logo" />
                <h3>Software Engineering</h3>
                <h4>University of New Brunswick</h4>
                
            </div>
            
            <p>
                The UNB Bachelor of Science in Software Engineering (BScSwE) program is a joint
                program of the Faculty of Computer Science and the Dept. of Electrical and Computer
                Engineering. The BScSwE program is one of 14 Software Engineering programs accredited
                by the Canadian Engineering Accreditation Board (CEAB), and the only CEAB accredited
                Software Engineering program in Atlantic Canada. [ source: www.unb.ca ]
            </p>
        </article>
    </div>
    <div class="item">
        <span class="year">`15</span>
        <article>
            <div class="title">
                <img src="../img/mongo.png" alt="MongoDB Logo" />
                <h3>M101JS: MongoDB for Node.js Developers</h3>
                <h4>Mongo University</h4>
                
            </div>
            
            <p>
                An introductory course provided by MongoDB, Inc. which focuses on learning the basics
                of developing applications with MongoDB and the Node.js driver. The course material
                covers CRUD (Create , Read, Update, Delete) operations, schema design, indexing, and
                performance.
            </p>
        </article>
    </div>
    <div class="item">
        <span class="year">`13</span>
        <article>
            <div class="title">
                <img src="../img/rhs.png" alt="Rothesay High School Logo" />
                <h3>Student</h3>
                <h4>Rothesay High School</h4>
                
            </div>
            
            <p>
                At Rothesay High School, I was involved in many extra-curricular groups including
                Student Representative Council, Leadership in Volunteerism, Habitat for Humanity,
                Rotary Interact Club, and Junior Achievement. I was in the French Immersion Program,
                enrolled in several Level 1 (advanced) and AP courses, and graduated with High Honours
                (average above 90%).
            </p>
        </article>
    </div>
</section>