<section id="skills" class="skills">
    <h2>Skills</h2>
    <span class="line"></span>
    
    <h3>Soft Skills</h3>
    
    
    <div class="item">
        <h4>Communication</h4>
        <span class="bar">
            <span class="progress" style="width: 60%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Learning/Adaptability</h4>
        <span class="bar">
            <span class="progress" style="width: 80%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Organization</h4>
        <span class="bar">
            <span class="progress" style="width: 80%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Project Management</h4>
        <span class="bar">
            <span class="progress" style="width: 20%"></span>
        </span>
    </div>
    
    
    <div class="item">
        <h4>Time Management</h4>
        <span class="bar">
            <span class="progress" style="width: 85%"></span>
        </span>
    </div>
    
    <br>
    <h3>Technical Skills</h3>
    
    <div class="item">
        <h4>Documentation</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Hardware Programming</h4>
        <span class="bar">
            <span class="progress" style="width: 40%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Problem Solving</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>UI/UX Design</h4>
        <span class="bar">
            <span class="progress" style="width: 75%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Web Development</h4>
        <span class="bar">
            <span class="progress" style="width: 90%"></span>
        </span>
    </div>
    
    
    <br>
    <h3>Languages</h3>
    
    <div class="item">
        <h4>AWK</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>C</h4>
        <span class="bar">
            <span class="progress" style="width: 55%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>CSS3</h4>
        <span class="bar">
            <span class="progress" style="width: 95%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>HTML5</h4>
        <span class="bar">
            <span class="progress" style="width: 80%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Java</h4>
        <span class="bar">
            <span class="progress" style="width: 65%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>JavaScript</h4>
        <span class="bar">
            <span class="progress" style="width: 85%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>MATLAB</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>MongoDB</h4>
        <span class="bar">
            <span class="progress" style="width: 40%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>MySQL</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>PHP</h4>
        <span class="bar">
            <span class="progress" style="width: 75%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Python</h4>
        <span class="bar">
            <span class="progress" style="width: 20%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>VHDL</h4>
        <span class="bar">
            <span class="progress" style="width: 40%"></span>
        </span>
    </div>
    
    
    
    <h3>Frameworks, Libraries, & Preprocessors</h3>
    
    <div class="item">
        <h4>AngularJS</h4>
        <span class="bar">
            <span class="progress" style="width: 20%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>ANTLR (Java)</h4>
        <span class="bar">
            <span class="progress" style="width: 60%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Bootstrap</h4>
        <span class="bar">
            <span class="progress" style="width: 90%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>jQuery/AJAX</h4>
        <span class="bar">
            <span class="progress" style="width: 80%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>MaterializeCSS</h4>
        <span class="bar">
            <span class="progress" style="width: 75%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Node.js (MongoDB)</h4>
        <span class="bar">
            <span class="progress" style="width: 20%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Roslyn (C#)</h4>
        <span class="bar">
            <span class="progress" style="width: 50%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Sass/SCSS</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Semantic UI</h4>
        <span class="bar">
            <span class="progress" style="width: 40%"></span>
        </span>
    </div>
    
    
    <h3>OS & Dev Tools</h3>
    
    <div class="item">
        <h4>Linux</h4>
        <span class="bar">
            <span class="progress" style="width: 75%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>OSX</h4>
        <span class="bar">
            <span class="progress" style="width: 90%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Windows</h4>
        <span class="bar">
            <span class="progress" style="width: 80%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Eclipse</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Jekyll</h4>
        <span class="bar">
            <span class="progress" style="width: 40%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>phpMyAdmin</h4>
        <span class="bar">
            <span class="progress" style="width: 85%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Photoshop</h4>
        <span class="bar">
            <span class="progress" style="width: 25%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Rational Software Architect</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Quartus II</h4>
        <span class="bar">
            <span class="progress" style="width: 70%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Visual Studio</h4>
        <span class="bar">
            <span class="progress" style="width: 65%"></span>
        </span>
    </div>
    
    <h3>Other</h3>
    
    <div class="item">
        <h4>Batch</h4>
        <span class="bar">
            <span class="progress" style="width: 80%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>JSON, XML, CSV</h4>
        <span class="bar">
            <span class="progress" style="width: 95%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>Mongo Shell</h4>
        <span class="bar">
            <span class="progress" style="width: 40%"></span>
        </span>
    </div>
    
    <div class="item">
        <h4>UnxUtil</h4>
        <span class="bar">
            <span class="progress" style="width: 60%"></span>
        </span>
    </div>
    
</section>
