<section id="work" class="work">
    <h2>Work</h2>
    <span class="line"></span>
    
    <div class="item">
        <span class="year">`15</span>
        <article>
            <div class="title">
                <img src="/img/UNB.png" alt="UNB Logo" />
                <h3>Website & Database Developer</h3>
                <h4>University of New Brunswick</h4>
                
            </div>
            
            <p>
                As the only developer for the Faculty of Education at the University of New Brunswick, I built dynamic and responsive web
                applications with PHP, HTML, CSS/SCSS, and JavaScript/jQuery.
            </p>
        </article>
    </div>
    <div class="item">
        <span class="year">`14</span>
        <article>
            <div class="title">
                <img src="../img/mariner.png" alt="Mariner Innovations Logo" />
                <h3>Junior Program Analyst</h3>
                <h4>Mariner Innovations</h4>
                
            </div>
            
            <p>
                Built COBOL/JCL analyzation tools to examine and visualize program interactions
                and database calls within large-scale applications. Used AWK, Batch, C# (Roslyn),
                Java (ANTLR), HTML, CSS, and Javascript (D3.js).
            </p>
        </article>
    </div>
</section>
